.items-input-form {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }