.party-form {
    display: flex;
    margin-bottom: 5%;
    margin-top: 7%;
    flex-direction: column;
    width: 25%;
    align-items: center;
    margin-left: 37.5%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-align: center;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
  }
  :-ms-input-placeholder { /* IE 10+ */
    text-align: center;
  }
  :-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }